@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@0;1&display=swap');

body{

    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px 10px 10px 10px;
    width: 361px;
    height: 800px;
    background-image: linear-gradient(to bottom, #000A7A, #37B7FF);
}

.pagina-registro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.div-conta{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}