@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@0;1&display=swap');

body{

    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px 10px 10px 10px;
    width: 361px;
    height: 800px;
    background: url(Imagens/APP\ tia\ tela\ padrão\ _ENTRAR_\ \ fundo.png);
}


p{
    font-family: 'Bebas Neue', cursive;
    color: white;
    font-size: 40px;
    letter-spacing: 1px;
    text-shadow: 0px 10px 4px rgba(0, 0, 0, 0.397);
    padding: 30px 0px 0px 0px;
    
}


label{
    font-size: 25px;
}

input{
    outline: none;
    background:none;
    border:none;
    border-bottom:black;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    border-bottom: 2px solid black;


}


#input-geral{
    display: flex;
    flex-direction: column;
    align-items: center;
   
    width: 70%;
    margin: 10px 0px 10px 0px;
    font-family: 'Bebas Neue', cursive;
    color: white;
    transition: 1s;
    
    
}

#input-geral ~ p{
    border: none;
    margin: 0px 0px 30px 0px;
}


#div-label{
    margin-bottom: 20px;
    margin-top: 15px;
}

.icone{
    font-size: 25px;
}



.btn-entrar{
    align-items: center;
    font-size: 38px;
    width: 303px;
    height: 44px;
    color: white;
    border: none;
    border-radius: 8px;
    outline: none;
    background-color: #0011C7 ;
    box-shadow: 0px 10px 4px rgba(0, 0, 0, 0.308);
    margin-top: 35px;
    
    font-family: 'Bebas Neue', cursive;
}

.btn-entrar:active{
    background-color: #479dff;
    box-shadow: inset 1px 1px 10px rgba(0, 0, 0, 0.411);
}

.p-cadastrese{
    letter-spacing: 1px;
    font-size: 20px;
    display: flex;

}

.btn-cadastrese{
    align-items: center;
    font-size: 15px;
    width: 150px;
    height: 20px;
    border: none;
    border-radius: 8px;
    outline: none;
    background-color: #0016FF ;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.411);
    font-family: 'Bebas Neue', cursive;
    color: white;
}

.btn-cadastrese:active{
    background-color: #4251fd;
    box-shadow: inset 1px 1px 10px rgba(0, 0, 0, 0.411);

}