@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ysabeau:ital,wght@1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ysabeau:ital,wght@1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Wix+Madefor+Display:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
:root {
  --cor1:#59D9D9;
  --cor2:#2EA684;
  --cor3:#4EBF76;
  --cor4:#7BD962;
  --cor5:#0F9FA7;
  
}

*{
    margin: 0px;
    padding: 0px;
    
}

body{
    background-color: #FBFFF0;
    height: 100%;
    
}
/*Header, Nav e Logo*//*Header, Nav e Logo*/
.div-img-header{
    width: 150px;
    height: 100px;
    cursor: pointer;
}

.div-header{
    position: relative;
    background-color: #FBFFF0;
    color: black;
    display:flex;
    align-items: center;
    font-family: 'Roboto Mono', monospace;
}



.div-h2-header{
    display: flex;
    width: 55vw;
    align-items: center;
    justify-content: center;
}


.div-nav-header{
    position: absolute;
    right: 0px;
    padding-right: 40px;
    align-items: space-around;
    font-size: 17px; 
    transition: 0.5s;  
}

.a-nav-header{
    color: rgb(0, 0, 0);
    text-decoration: none;
    border-radius: 7px;
    margin:0px 30px;
    border: 1px solid black;
    text-shadow: 2px 0px 2px rgba(0, 0, 0, 0.493);
    padding: 10px;
    
}

.a-nav-header:hover{
    background-image: linear-gradient(to left top, #00aaf8, #00C3D7, #60F868, #1DD14A);
    transition: 0.5s;
    transform: scale(1.5);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.575);
    text-shadow: 2px 0px 2px rgba(0, 0, 0, 0.493);
    padding: 10px;
   
}



/*Pesquisa e frase de efeito*//*Pesquisa e frase de efeito*/

.div-imagem-fundo{
    background: url(../Imagens/fundo12.jpg);    
    height: 50vh;
    background-attachment: fixed;
    position: relative;
}
label{
    cursor: pointer;
}

.div-subti-main{
    width: 98vw;
    backdrop-filter: blur(3px);
    height: 30vh;
    border-radius: 0px 0px 15px 15px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center ;
    font-family: 'Ysabeau', sans-serif;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 30px;
   
}

.div-subti-main > h2{
   
    /*FAZER BORDA EM BAIXO COM ANIMAÇÃO DE IDA E VINDA*/

    height: 250px;
    width: 90vw;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(3px);
    border-radius: 10px;
    text-shadow: 5px 2px 2px rgba(0, 0, 0, 0.658);
    border: 2px solid white;
}

.div-Pesquisa-imovel{

    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px;  
    margin: 0px 40px;  
    background-image: linear-gradient(to right, #00aaf879, #00C3D779, #60F86879, #1DD14A79);
    border-radius: 35px;
}

.div-label-input-main{
    
    padding: 10px 30px;
    background-color: #60f8687c;
    margin: 0px 10px;
    border: none;
    color: rgb(0, 0, 0);
    font-family: 'Roboto Mono', monospace;
    border-radius: 10px;
    border: 3px solid #000000e8;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.637);
    font-size: 1.5;
    cursor: pointer;
}

#id-pesquisa-tudo{
    padding: 10px 30px;
    background-color: #ffffffc0;
    margin: 0px 10px;
    border: none;
    color: rgb(0, 0, 0);
    font-family: 'Roboto Mono', monospace;
    border-radius: 10px;
    border: 3px solid#757575;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.637);
    transition: 1s;
    cursor: pointer;
}


#id-pesquisa-tudo:hover{
    background-color: #cfcfcfc0;
    transform: scale(1.1);
}



select{
    background:none;
    border: none;
    outline: none;
    font-size: medium;
    
}

.input-pesquisa::placeholder{
    color: rgba(0, 0, 0, 0.808);
}

.btn-encontrar{
    padding: 10px 30px;
    background-color: #00aaf8;
    margin: 0px 10px;
    border: none;
    color: rgb(0, 0, 0);
    font-family: 'Roboto Mono', monospace;
    border-radius: 50px;
    border: 3px solid#0090d3;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.637);
    font-size: 1.1em;
    transition: 1s;
    cursor: pointer;
}

.btn-encontrar:hover{
    transform: scale(1.1);
}

/*Ala das Vendas e locação*//*Ala das Vendas e locação*/
.div-vendas-titulos{
    padding:10px 0px ;
    margin: 0px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(0, 0, 0);
    font-variant: small-caps;
    background-color: white;
    font-size: 1.5em;
    font-family: 'Kanit', sans-serif;
}



.all-div-vendas{
    display: grid;
    grid-template-rows:50% 50%;
    grid-template-columns:20% 20% 20% 20% 20%;
    margin: 0px 30px;
}

.img-venda{
    
    text-shadow: 0px 3px 5px rgba(0, 0, 0, 0.493);
    padding-bottom: 10px;
    text-align: center;
    background-color:#d6d6d6c0;
    border-radius: 0px 0px 30px 30px;
    font-family: 'Wix Madefor Display', sans-serif;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.445);
    text-decoration: underline;
    backdrop-filter: blur(5px);
    cursor: pointer;
}

#img-casas{
    width: 100%;
}

.img-venda:hover{
    z-index:1;
    transition: 1s;
    transform: scale(1.1)
   
}

.img-venda img{
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.651);
}

.all-div-locacao{
    display: grid;
    grid-template-rows:50% 50%;
    grid-template-columns:20% 20% 20% 20% 20%;
    margin: 0px 30px;
}

/*Ala do "Marketing"*//*Ala do "Marketing"*//*Ala do "Marketing"*//*Ala do "Marketing"*/

.div-marketing{
    width: 100%;
    height: 400px;
    background-color: black;
    color: white;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows:100%;
    font-family: 'Noto Serif', serif;
}



.div-marketing2{
    display: grid;
    grid-template-columns:100%;
    grid-template-rows:50% 33% 33%;
    text-align: center;
    
    
}

.div-marketing2:hover{
    border-width: 10px;
    border-style: solid;
    border-image: linear-gradient(to right, #00aaf8, #00C3D7, #60F868, #1DD14A);
    border-image-slice: 1;
    animation: colorido2 1s backwards infinite;
}
@keyframes colorido2{
    0%, 25%{
        border-image: linear-gradient(to right, #00aaf8, #00C3D7, #60F868, #1DD14A);
        border-image-slice: 1;
    
    }
    25%, 50%{
        border-image: linear-gradient(to right, #1DD14A, #00aaf8, #00C3D7, #60F868);
        border-image-slice: 1;
    }
    50%,75%{
        border-image: linear-gradient(to right, #60F868, #1DD14A, #00aaf8, #00C3D7);
        border-image-slice: 1;
    }
    75%{
        border-image: linear-gradient(to right, #00C3D7, #60F868, #1DD14A, #00aaf8);  
        border-image-slice: 1;
    }

}


.div-marketing-icone{
    text-align: center;
    padding-top:60px ;
}

.div-frase-marketing h2{
    margin-bottom:50px;
}

.div-frase-marketing p{
   font-size: 1.2em;
   text-decoration: underline;
   font-family: 'Open Sans', sans-serif;
}



.div-btn-marketing > button{
    position: relative;
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
    color: white;
    outline: none;
    border: none;
    background: none;
    cursor: pointer;
}

.div-btn-marketing > button::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background-image: linear-gradient(to right, #00aaf8, #00C3D7, #60F868, #1DD14A);
    border-radius: 5px;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .5s;
}

.div-btn-marketing > button:hover::after{
    transform-origin:left;
    transform: scaleX(1);
    animation: colorido .5s linear infinite;
}

@keyframes colorido{
    0%, 25%{
        background-image: linear-gradient(to right, #00aaf8, #00C3D7, #60F868, #1DD14A);
    
    }
    25%, 50%{
        background-image: linear-gradient(to right, #1DD14A, #00aaf8, #00C3D7, #60F868);
    }
    50%,75%{
        background-image: linear-gradient(to right, #60F868, #1DD14A, #00aaf8, #00C3D7);
    }
    75%{
        background-image: linear-gradient(to right, #00C3D7, #60F868, #1DD14A, #00aaf8);  
    }

}

/*Frase de efeito*//*Frase de efeito*//*Frase de efeito*//*Frase de efeito*/

.div-frase-de-efeito{
    position: relative;
    background: url(../Imagens/predio3.png);
    height: 600px;
    background-position:top, left;
    background-attachment: fixed;
    background-size: cover;
}

.frase-de-efeito{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-end;
    position: absolute;
    top: 125px;
    right: 10px;
    font-family: 'Dancing Script', cursive;
    font-size: 30px;
    color: rgb(255, 255, 255);
    text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.445);
    padding-top: 10px;
    border-radius:10px 0px 0px 50px;
}

/*Footer*//*Footer*//*Footer*//*Footer*//*Footer*//*Footer*//*Footer*//*Footer*//*Footer*/

.div-footer{
    display: grid;
    justify-content: center;
    align-content: center;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 100%;
    text-align: center;
    background-color: rgb(71, 71, 71);
    color: white;
    padding: 15px 0px;
}

.footer-textos-todos p{
    font-family: 'Open Sans', sans-serif;
    padding-top:10px;
    text-decoration: underline;
    cursor: pointer;
}

.footer-textos-todos p:hover{
    color: rgb(214, 214, 214);
    
}

#hamburger{
    display: none;
}

@media(max-width:1050px){
    .div-Pesquisa-imovel{
        font-size: 13px;
        display: grid;
        align-items: center;
        grid-template-columns:33% 33% 33% ;
        grid-template-rows: 33% 33% 33%;
        height: 15%;
        
    }
    .btn-encontrar{
        margin-top: 100px;
        grid-row-start: 2;
        grid-column-end:3;
    }
    .div-filtro-btn{
      display: none;
    }
}
    @media(max-width:950px){
        .div-nav-header{
            display: none;
        }
    
        span{
            width: 100%;
            
        }
        #hamburger{
            display: flex;
            justify-content: flex-end;
            position: relative;
            right: 50px;
        }
    }
    



