@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ysabeau:ital,wght@1,500&display=swap');

:root {
  --cor1:#59D9D9;
  --cor2:#2EA684;
  --cor3:#4EBF76;
  --cor4:#7BD962;
  --cor5:#0F9FA7;
  
}

*{
    margin: 0px;
    padding: 0px;

}

body{
    background-color: #FBFFF0;
    height: 100%;
    
}

.div-img-header{
    box-shadow: 10px 10px 10px black;
    width: 150px;
    height: 100px;
}

.div-header{
    position: relative;
    background-color: #FBFFF0;
    color: black;
    display:flex;
    align-items: center;
    font-family: 'Roboto Mono', monospace;
}



.div-h2-header{
    display: flex;
    width: 55vw;
    align-items: center;
    justify-content: center;
}


.div-nav-header{
    position: absolute;
    right: 0px;
    padding-right: 40px;
    align-items: space-around;
    font-size: 20px;   
}

.a-nav-header{
    color: white;
    text-decoration: none;
    border-radius: 7px;
    margin:0px 30px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.575);
    text-shadow: 2px 0px 2px rgba(0, 0, 0, 0.493);
    background-color:#4EBF76;
    padding: 10px;
}

.a-nav-header:hover{
    transition: 0.5s;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.575);
    text-shadow: 2px 0px 2px rgba(0, 0, 0, 0.493);
    background-color:#43a164;
    padding: 10px;
    color: rgb(224, 224, 224);
}

.div-imagem-fundo{
    background: url(../Imagens/fundo12.jpg);    
    height: 47vh;
    position: relative;
}

.div-subti-main{
    width: 100vw;
    height: 30vh;
    border-radius: 0px 0px 15px 15px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center ;
   
    font-family: 'Ysabeau', sans-serif;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 45px;
}

.div-subti-main > h2{
   
    /*FAZER BORDA EM BAIXO COM ANIMAÇÃO DE IDA E VINDA*/

    height: 250px;
    width: 90vw;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(3px);
    border-radius: 10px;
    text-shadow: 5px 2px 2px rgba(0, 0, 0, 0.658);
}

.div-Pesquisa-imovel{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px;  
    margin: 0px 0px;  
    background-image: linear-gradient(to right, #00aaf8d8, #00C3D7d8, #60F868d8, #1DD14Ad8);
    border-radius: 35px;
    
}

.div-label-input-main{
    padding: 10px 30px;
    background-color: #ffffffc0;
    margin: 0px 10px;
    border: none;
    color: rgb(0, 0, 0);
    font-family: 'Roboto Mono', monospace;
    border-radius: 50px;
    border: 3px solid#FBFFF0;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.637);
}

#id-pesquisa-tudo{
    padding: 10px 30px;
    background-color: #ffffffc0;
    margin: 0px 10px;
    border: none;
    color: rgb(0, 0, 0);
    font-family: 'Roboto Mono', monospace;
    border-radius: 50px;
    border: 3px solid#FBFFF0;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.637);
}


#id-pesquisa-tudo:hover{
    background-color: #cfcfcfc0;
}



select{
    background:none;
    border: none;
    outline: none;
    font-size: medium;
}

.input-pesquisa::placeholder{
    color: rgba(0, 0, 0, 0.808);
}

.btn-encontrar{
    padding: 10px 30px;
    background-color: #00aaf8;
    margin: 0px 10px;
    border: none;
    color: rgb(0, 0, 0);
    font-family: 'Roboto Mono', monospace;
    border-radius: 50px;
    border: 3px solid#FBFFF0;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.637);
}







